/*
  Name: Brannon
  Date: 08/04/21
  Assignment: Create a BMI calculator
*/
.login-page{
  background-color: #ededed;
}
.ui-content-password{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.delete-button{
  margin-left: 80%;
}
#login-about-page-link{
  color: #ededed;
  text-decoration: none;
  font-size: larger;
  margin-left: 10%;
}
.page-about{
  background-color: #ededed;
}
.ui-content-about{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ui-content-graph{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ui-content-page-records{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ui-content-page-records table{
  width:100%;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
.ui-content-page-records table, th, tr{
  
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}
.ui-content table, th, td{
  padding:16px;
  font-weight: bolder;
}
td:nth-child(even) {
  background-color:darkgoldenrod;
}